server {
    listen 80;
    listen [::]:80;
    server_name n0thing.works www.n0thing.works;

    root /var/www/n0thing.works;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }

    location ~ /\. {
        deny all;
    }
}
